<div class = "container">
  <div class="row">
    <h4>Habitantes</h4>
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <input placeholder="" id="nombres-habitante" type="text" class="validate">
          <label for="nombres-habitante">Nombres</label>
        </div>
        <div class="input-field col s6">
          <input id="apellidos-habitante" type="text" class="validate">
          <label for="apellidos-habitante">Apellidos</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s6">
          <input placeholder="" id="email-habitante" type="text" class="validate">
          <label for="email-habitante">Email</label>
        </div>
        <div class="input-field col s6">
          <input id="clave-habitante" type="text" class="validate">
          <label for="clave-habitante">Clave</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s6">
          <input id="password" type="password" class="validate">
          <label for="password">Rol</label>
        </div>

       <!--  <div class="input-field col s6">
          <input id="email" type="email" class="validate">
          <label for="email">Email</label>
        </div>-->
      </div>

      <div class="row">

        <div class="col s12">
          <img  src="../../../../../assets/img/habitantes.png" alt="">
        </div>

        </div>

    </form>
  </div>
  </div>
