<div class = "container">
  <div class="row">
    <h4>Inmueble</h4>
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <input placeholder="" id="id-inmueble" type="text" class="validate">
          <label for="id-inmueble">Id</label>
        </div>
        <div class="input-field col s6">
          <input id="tipo-inmueble" type="text" class="validate">
          <label for="tipo-inmueble">Tipo Inmueble</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s6">
          <input placeholder="" id="Direccion-inmueble" type="text" class="validate">
          <label for="direccion-inmueble">Direccion</label>
        </div>
        <div class="input-field col s6">
          <input id="telefono-inmueble" type="text" class="validate">
          <label for="telefono-inmueble">Telefono</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s6">
          <input id="valor-alquiler" type="text" class="validate">
          <label for="valor-alquiler">Valor Alquiler</label>
        </div>

        <div class="input-field col s6">
          <input id="email" type="email" class="validate">
          <label for="email">Email</label>
        </div>
      </div>

      <div class="row">

        <div class="col s12">
          <img  src="../../../../../assets/img/inmueble 2 .png" alt="">
        </div>

        </div>

    </form>
  </div>
  </div>
