
<div class="navbar-fixed">
  <nav class="blue">
    <div class="nav-wrapper">
    <a routerLink = "./inicio"class="light-green-text text-accent-2 brand-logo">Inmobiliaria-App </a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
    <li><a routerLink="/seguridad/iniciar-sesion">Iniciar Sesion</a></li>
    <li><a routerLink="/registro/buscar-propietarios">Propietarios</a></li>
    <li><a routerLink="/registro/buscar-inmueble">Inmueble</a></li>
    <li><a routerLink="/registro/buscar-habitante">Habitantes</a></li>
    <li><a routerLink="/registro/buscar-administrador">Administrador</a></li>
    <li><a routerLink="/registro/buscar-torre"class="white-text">Torre</a></li>
    <li><a routerLink="/registro/enviar-factura">Facturacion</a></li>
    </ul>
  </div>
</nav>

</div>

