<footer class="blue">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Contactos:</h5>
        <h2 class="grey-text text-lighten-4">Inmobiliaria-App</h2>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Redes Sociales</h5>
        <ul>
          <p class="grey-text text-lighten-4">whatsapp:  3001234567</p>
          <p class="grey-text text-lighten-4">Facebook:  https/facebook/thefirstweb </p>
          <p class="grey-text text-lighten-4">Instagran: @inmobiliariaApp</p>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2022 Copyright Text
    <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
    </div>
  </div>
</footer>
