
<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
 -->
<div>
  <img  src="../../../assets/img/banner.png" alt="">
</div>

<div class="row">
  <div class="col s4 m4">
    <div class="card">
      <div class="card-image">
        <img src="../../../assets/img/ciudad 7.png">
        <span class="card-title">¿Quienes somos?</span>
      </div>
      <div class="card-content">
        <p>I am a very simple card. I am good at containing small bits of information.
        I am convenient because I require little markup to use effectively.</p>
      </div>
      <div class="card-action">
        <a href="#">¿Quienes somos? </a>
      </div>
    </div>
  </div>

 <div class="col s4 m4">
  <div class="card">
    <div class="card-image">
      <img src="../../../assets/img/cartagena 4.jpg">
      <span class="card-title">Mision</span>
    </div>
    <div class="card-content">
      <p>I am a very simple card. I am good at containing small bits of information.
      I am convenient because I require little markup to use effectively.</p>
    </div>
    <div class="card-action">
      <a href="#">Mision</a>
    </div>
  </div>
</div>

<div class="col s4 m4">
  <div class="card">
    <div class="card-image">
      <img src="../../../assets/img/pueblos1.jpg">
      <span class="card-title">Vision</span>
    </div>
    <div class="card-content">
      <p>I am a very simple card. I am good at containing small bits of information.
      I am convenient because I require little markup to use effectively.</p>
    </div>
    <div class="card-action">
      <a href="#">Vision</a>
    </div>
  </div>
</div>
</div>
