<div class = "container">
<div class="row">
  <h4>propietarios</h4>
  <form class="col s12">
    <div class="row">
      <div class="input-field col s6">
        <input placeholder="" id="id-propietario" type="text" class="validate">
        <label for="id-propietario">Id</label>
      </div>
      <div class="input-field col s6">
        <input id="documento-propietario" type="text" class="validate">
        <label for="documento-propietario">Documento</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s6">
        <input placeholder="" id="nombre-propietario" type="text" class="validate">
        <label for="nombre-propietario">Nombres</label>
      </div>
      <div class="input-field col s6">
        <input id="apellido-propietario" type="text" class="validate">
        <label for="apellido-propietario">Apellidos</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s6">
        <input id="clave-propietario" type="password" class="validate">
        <label for="clave-propietario">Clave</label>
      </div>

      <div class="input-field col s6">
        <input id="email-propietario" type="email" class="validate">
        <label for="email-propietario">Email</label>
      </div>
    </div>

    <div class="row">

      <div class="col s12">
        <img  src="../../../../../assets/img/Propietario.png" alt="">
      </div>

      </div>

  </form>
</div>
</div>
